body {
    background-color: #e0ffff;
}

header {
    background-color: #e0ffff;
}

.index-header {
    font-family: 'Avantgarde', 'TeX Gyre Adventor', 'URW Gothic L', sans-serif;
    color: rgb(9, 9, 110) ;
}

.pokemon-list {
    list-style-type: disc;
    font-family: 'Avantgarde', 'TeX Gyre Adventor', 'URW Gothic L', sans-serif;
}

button.pokemon-button {
    background-color:rgb(80, 233, 166);
    border-radius: 8px;
    border: 2px solid black;
    font-size: 16px;
}

.loading-message {
    visibility: hidden;
}

.visible {
    visibility: visible;
}
